.bike-container {
  margin: 20px
}

.photo-reservation {
  display: flex;
  align-items: center;
  padding: 20px;
}

.bike-photo {
}

.reservation-form {
  min-width: 100px;
  padding: 20px;
}
.btn.btn-primary {
  min-width: 200px;
}
