h1 {
  color: rgb(40, 40, 40);
  font-size: 55px;
  font-weight: 600;
}
h1.homepage {
  color: white;
  font-size: 55px;
  font-weight: 600;
}
h2 {
  color: rgb(40, 40, 40);
  font-size: 30px;
  font-weight: 300;
}
h2.homepage {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
.banner-content {
  text-align: center;
  margin-bottom: 60px;
}
.image-banner {
  display: flex;
  width: 100%;
  height: calc(100vh - 140px);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url(/assets/background.jpg);
}
.form-group {
  display: flex;
  width: auto;
  align-items: center;
}
.form-control {
  border-radius: 4px;
  height: 60px;
  width: 100%;
}
.btn-home {
  border-radius : 4px;
  height: 60px;
  width: 120px;
  margin-left: 6px;
}
input::placeholder {
  font-size: 20px;
}

