.container-dashboard {
  display: flex;
  margin: 10px;
  height: calc(100vh - 140px);
}
//left
.profil-dashboard {
  flex: 0 0 200px;
  padding: 10px;
  align-items: center;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  h1 {
    font-size: 20px;
  }
}

.user-info {
  p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
  }
}
.activities {
  margin-top: 30px;
  p {
    margin: 0px;
  }
}
.bikes-activity {
  margin: 10px 0px;
}
.dash-btn {
  margin: 25px 0;
  padding: 10px;
}

// right
.full-tabs {
  flex: 1 0 auto;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.my-bike-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  justify-content: space-between;
  background-color: white;
  margin: 30px;
}
.my-bike-card:last-child {
  border-bottom: none;
}
.user-avatar-card {
  flex: 0 0 50px;
}
.photo-tabs {
  height: 100px;
}
.title-card {
  letter-spacing: 0.7px;
  flex: 1 0 auto;
}
.title-card .tenant {
  margin: 20px;
  margin-left: 40px;
}
.card-details {
  flex: 0 0 200px;
}
.price-card {
  flex: 0 0 90px;
  margin: 0;
}
.title-card, .card-details {
  padding: 20px;
  p {
    margin: 0px;
  }
}
.status-card {
  flex: 0 0 130px;
  padding-left: 10px;
  color: rgba(0,0,0,0.7);
  font-size: 22px;
}
.status-card p {
  margin: 6px 0;
}
.status-card strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.status {
  font-size: 18px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: rgb(200, 200, 200);
}
.tabs {
  display: flex;
}

.user-bike-card {
  font-size: 12px;
  h6 {
    margin-top: 0px;
  }
}
#mybikes {
  padding: 15px;
}
#booking {
  padding: 15px;
}
#accept-reservation {
  background-color: #04A366;
  color: white;
}
#decline-reservation {
  background-color: red;
  color: white;
}
.answered-request {
  font-weight: lighter;
}
