.container-dashboard {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  margin: 10px;
}

.profil-dashboard {
  grid-row: 1 /span 2;
  grid-column: 1 /span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  h1 {
    font-size: 20px;
  }
}

.validation_resquest {
  grid-row: 1 /span 1;
  grid-column: 2 /span 1;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
  h2  {
    font-size: 15px;
  }
}

.full-tabs {
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  grid-row: 2 /span 1;
  grid-column: 2 /span 1;
}

.my-bike-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: white;
}


.photo-tabs {
  height: 60px;
}

.title-card {
  padding-left: 10px;
  min-width: 100px;
}

.tabs {
  display: flex;
}

.avatar-medium {
  width: 90px;
  height: 90px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
}
.user-bike-card {
  font-size: 12px;
  h6 {
    margin-top: 0px;
  }
}
#mybikes {
  padding: 15px;
}
#booking {
  padding: 15px;
}
