<div class="main-container">
  <div class="row">
    <div class="image-banner">
      <div class="banner">
        <div class="banner-content">
          <h1 class="homepage">Peer-to-peer bike charters</h1>
          <h2 class="homepage">More than 13,600 privately-owned bikes to charter in the world</h2>
        </div>
        <form action="/bikes" class="form-stuff">
          <div class="form-group">
            <input name="address" class="form-control input-lg" type="text" placeholder="Enter the address where you want to pickup your bike">
            <input type="submit" class="btn btn-primary btn-lg" value="Let's go!"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
