<div class="container">
  <div class="bike_new_subcontainer">
    <div class="col-sm-12">
      <div class="form-new-bike">
        <h1 align="center">Update your bike information</h1>
        <%= render 'form', bike: @bike %>
      </div>
    </div>
  </div>
</div>

